body {
  color: #ed603d;
  background-color: #faecdd;
  font-family: 'Times New Roman', Times, serif
}

a {
  color: #ed603d;
  text-decoration: none;
}

.hero-img {
  max-width: 100%;
  max-height: 100vh;
  border-radius: 10px;
  box-shadow: -5px 5px 9px #9d9d9d;
}

.fs-0 {
  font-size: 60pt;
}

.text-shadow {
  text-shadow: -5px 5px 9px #9d9d9d;
}