<div class="container-fluid">
  <div class="row h-100 py-5">
    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
      <img class="hero-img" src="assets/img/KolbyStrang-1.jpg" alt="">
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start align-items-center">
      <div class="text-center fw-bold text-shadow">
        <p class="fs-0">KOLBY STRANG</p>
        <p class="fs-1">Full-Stack Web Developer</p>
        <p class="fs-4 mb-0">Vue.js</p>
        <p class="fs-4 mb-0">Node.js</p>
        <p class="fs-4 mb-0">.Net</p>
        <p class="fs-4 mb-0">Mongo DB</p>
        <p class="fs-4 mb-0">My SQL</p>
      </div>
    </div>
  </div>
  <div class="row bg-white">
    <div class="col-6 ">

    </div>
    <div class="col-6 d-flex align-content-center">
      <p class="fs-2 text-center mb-0">
        About Me
      </p>
    </div>
  </div>
</div>