<div class="container-fluid">
  <!-- SECTION Hero-->
  <div class="row h-100 py-5">
    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end order-1 order-md-0">
      <img class="hero-img" src="assets/img/KolbyStrang-1.jpg" alt="">
    </div>
    <div
      class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start align-items-center mb-5 order-0 order-md-1">
      <div class="text-center fw-bold text-shadow">
        <p class="fs-0">KOLBY STRANG</p>
        <p class="fs-1">Full-Stack Web Developer</p>
        <p class="fs-4 mb-0">Vue.js</p>
        <p class="fs-4 mb-0">Node.js</p>
        <p class="fs-4 mb-0">.Net</p>
        <p class="fs-4 mb-0">Mongo DB</p>
        <p class="fs-4 mb-0">My SQL</p>
      </div>
    </div>
  </div>
  <!-- SECTION Projects-->
  <div id="projects" class="row bg-white p-5">
    <p class="fs-1">My Projects</p>
    <div class="col-12 col-md-6 d-flex flex-column align-items-center mb-5">
      <a href="https://giazilla.com" target="_blank" class="d-flex justify-content-center w-100 h-100">
        <img src="/assets/img/Art.png" alt="Art Site" class="w-50 h-100 object-fit hover-raise">
      </a>
      <div>
        <p class="mb-0 fs-4">Art Site</p>
        <p class="mb-0 text-black">A website for displaying art for a local artist</p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex flex-column align-items-center mb-5">
      <a href="https://keepr.strangkolby.com" target="_blank" class="d-flex justify-content-center w-100 h-100">
        <img src="/assets/img/Lock.png" alt="Art Site" class="w-50 h-100 object-fit hover-raise">
      </a>
      <div>
        <p class="mb-0 fs-4">Keepr</p>
        <p class="mb-0 text-black">A Copy of Pinterest</p>
      </div>
    </div>
  </div>
  <!-- SECTION About-->
  <div id="about" class="row p-5">
    <div class="col-12 col-lg-6">
      <p class="fs-1">About Me</p>
      <p class="fs-5 text-black">
        Over 1 year spent immersed in front and back-end technologies, either in college level classes learning the
        basics of HTML CSS and JavaScript, or developing full-stack web applications in a 400+ hour bootcamp.
        Collaborated in development teams implementing scrum techniques as well as smaller form collaboration working
        very closely with other programmers. Expended 300+ hours delving into JavaScript functions and out of the box
        thinking to solve complex problems using multiple different strategies to ensure success</p>
    </div>
    <div class="col-12 col-lg-6 d-flex align-items-center">
      <img class="img-fluid drop-shadow w-50 aspect-1-1" src="/assets/img/CodeWorks_Logo.png" alt="CodeWorks_Logo">
      <img class="img-fluid drop-shadow w-50 aspect-1-1" src="/assets/img/Grad_Cap.png" alt="Grad_Cap">
    </div>
  </div>
  <!-- SECTION Languages -->
  <div id="skills" class="row bg-white p-5 pb-0">
    <p class="fs-1">Skills</p>
    <div class="col-12 col-md-4">
      <p class="fs-3">Frameworks</p>
      <ul>
        <li>Vue.js</li>
        <li>Angular</li>
        <li>Bootstrap</li>
        <li>.Net</li>
        <li>Node.js</li>
      </ul>
    </div>
    <div class="col-12 col-md-4">
      <p class="fs-3">Languages</p>
      <ul>
        <li>C#</li>
        <li>JavaScript</li>
        <li>SQL</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
    </div>
    <div class="col-12 col-md-4">
      <p class="fs-3">Libraries / Tools</p>
      <ul>
        <li>MongoDB / Mongoose</li>
        <li>Postman</li>
        <li>Git / Github</li>
        <li>AWS</li>
        <li>Dapper ORM</li>
        <li>SupaBase</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="fs-0 marquee bg-white pb-5">
      <span class="marquee-content">
        <i class="mdi mdi-vuejs"> </i>
        <i class="mdi mdi-angular"> </i>
        <i class="mdi mdi-bootstrap"> </i>
        <i class="mdi mdi-dot-net"> </i>
        <i class="mdi mdi-nodejs"> </i>
        <i class="mdi mdi-language-csharp"> </i>
        <i class="mdi mdi-language-javascript"> </i>
        <i class="mdi mdi-database"> </i>
        <i class="mdi mdi-language-html5"> </i>
        <i class="mdi mdi-language-css3"> </i>
        <i class="mdi mdi-git"> </i>
        <i class="mdi mdi-github"> </i>
        <i class="mdi mdi-aws"> </i>
      </span>
      <span class="marquee-content" aria-hidden="true">
        <i class="mdi mdi-vuejs"> </i>
        <i class="mdi mdi-angular"> </i>
        <i class="mdi mdi-bootstrap"> </i>
        <i class="mdi mdi-dot-net"> </i>
        <i class="mdi mdi-nodejs"> </i>
        <i class="mdi mdi-language-csharp"> </i>
        <i class="mdi mdi-language-javascript"> </i>
        <i class="mdi mdi-database"> </i>
        <i class="mdi mdi-language-html5"> </i>
        <i class="mdi mdi-language-css3"> </i>
        <i class="mdi mdi-git"> </i>
        <i class="mdi mdi-github"> </i>
        <i class="mdi mdi-aws"> </i>
      </span>
    </div>
  </div>
</div>