<div class="container-fluid">
  <div class="row h-100 py-5">
    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
      <img class="hero-img" src="assets/img/KolbyStrang-1.jpg" alt="">
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start align-items-center">
      <div class="text-center fw-bold text-shadow">
        <p class="fs-0">KOLBY STRANG</p>
        <p class="fs-1">Full-Stack Web Developer</p>
        <p class="fs-4 mb-0">Vue.js</p>
        <p class="fs-4 mb-0">Node.js</p>
        <p class="fs-4 mb-0">.Net</p>
        <p class="fs-4 mb-0">Mongo DB</p>
        <p class="fs-4 mb-0">My SQL</p>
      </div>
    </div>
  </div>
  <div id="projects" class="row bg-white p-5">
    <p>Projects</p>
  </div>
  <div id="about" class="row p-5">
    <div class="col-6 ">
      <p class="fs-1">About Me</p>
      <p>
        Over 1 year spent immersed in front and back-end technologies, either in college level classes learning the
        basics of HTML CSS and JavaScript, or developing full-stack web applications in a 400+ hour bootcamp.
        Collaborated in development teams implementing scrum techniques as well as smaller form collaboration working
        very closely with other programmers. Expended 300+ hours delving into JavaScript functions and out of the box
        thinking to solve complex problems using multiple different strategies to ensure success</p>
    </div>
    <div class="col-6">
      <div class="d-flex align-items-center">
        <img class="img-fluid drop-shadow w-50 aspect-1-1" src="../../assets/img/CodeWorks_Logo.png"
          alt="CodeWorks_Logo">
        <img class="img-fluid drop-shadow w-50 aspect-1-1" src="../../assets/img/Grad_Cap.png" alt="Grad_Cap">
      </div>
    </div>
  </div>
  <div id="languages" class="row bg-white p-5">
    <p>Languages</p>
  </div>
</div>